.summaryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 3em;
  text-align: center;
  border: solid;
}

.totalWeightContainer {
  border-right: solid;
}

.totalWeightTitle,
.totalCostTitle {
  border-bottom: solid;
}

p {
  font-weight: 600;
}

h2 {
  text-align: center;
}